node_modules
results
screenshots
videos
mochawesome-report

staging.json
automation-test-store
other
webdriver-uni
config
plugins
1-getting-started
2-advanced-examples
C:\Users\tanya\Desktop\Avantra-tests\.gitignore
package.json
package.json
WORKFILES
/fixtures/Credentials.json
/e2e/Avantra UI/examples/*
/e2e/Avantra UI/old tests/*